{% assign item = include.item %}
<article class="pub-item">
    <h3 class="pub-title">{{ item.title }}</h3>
    <p class="pub-authors">{% include widgets/author_list.html authors=item.authors %}</p>
    <p class="pub-venue">{{ item.pub_pre }}<i>{{ item.pub }}</i>{{ item.pub_post }} {{ item.pub_date }} {{ item.pub_last }}</p>
    {% if item.abstract %}
    <p class="pub-abstract">{{ item.abstract }}</p>
    {% endif %}
    {% if item.links %}
    <p class="pub-links">
        {% for link in item.links %}
        {% if link[1].url %}
        <a target="{{ link[1]['target'] }}" href="{{ link[1]['url'] }}">{{ link[0] }}</a>
        {% elsif link[1] and link[1] != "" %}
        <a target="_blank" href="{{ link[1] }}">{{ link[0] }}</a>
        {% endif %}
        {% endfor %}
    </p>
    {% endif %}
</article>
